orbit-da/node_modules/*
orbit-da/cache
orbit-da/artifacts
orbit-da/.DS_Store
orbit-da/outputInfo.json
orbit-da/config/.DS_Store
orbit-da/!config/keys
orbit-da/network.json
orbit-da/docker-compose/services/blockscout-db-data
orbit-da/docker-compose/services/redis-data
orbit-da/docker-compose/services/stats-db-data
orbit-da/docker-compose/services/logs
orbit-da/.DS_Store
docker-compose/services/blockscout-db-data
docker-compose/services/stats-db-data
docker-compose/services/logs
frontend/src/config/config.ts
nitro-contracts/node_modules/*
nitro-contracts/build/*
.env
.DS_Store